<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
  p {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
</style>
</head>
<body style="margin: 0; padding: 0;">
<table width="98%" border="0">
 <tr>
  <td>
  #if(!${RxChangeRequestnumber.isEmpty()})
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Rx Change Request number : </strong>$!{RxChangeRequestnumber}</p>
  #end
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Requester Name : </strong>$!{RequestorName}</p>
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Request Status : </strong>$!{RequestStatus}</p>
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Request logged date : </strong>$!{Requestloggeddate}</p>
 <br>
 
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Customer Name : </strong>$!{CustomerName}</p>
  #if($ModelName && (!${ModelName.isEmpty()}))
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Model Name : </strong>$!{ModelName}</p>
    #end
   #if($RoadNumber && (!${RoadNumber.isEmpty()}))
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Road Number : </strong>$!{RoadNumber}</p>
   #end
  <br>
  
  #if($CaseId && (!${CaseId.isEmpty()}))
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Case Id : </strong>$!{CaseId}</p>
  #end
  #if($RevisionType && (!${RevisionType.isEmpty()}))
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Revision Type : </strong>$!{RevisionType}</p>
  #end
  #if($RxTitle && (!${RxTitle.isEmpty()}))
  <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Rx Title : </strong>$!{RxTitle}</p>
  #end
  <br>
  #if($Changesrequested && (!${Changesrequested.isEmpty()}))
  <pre style="white-space: pre-wrap;word-wrap: break-word;padding-left: 20px; font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Changes Requested : </strong>$!{Changesrequested}</pre>
  #end
  #if($ChangesSuggested && (!${ChangesSuggested.isEmpty()}))
  <pre style="white-space: pre-wrap;word-wrap: break-word;padding-left: 20px; font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Changes Suggested : </strong>$!{ChangesSuggested}</pre>
  #end
  <br>
  #if(${Notestorequestor} && (!${Notestorequestor.isEmpty()}))
  <pre style="white-space: pre-wrap;word-wrap: break-word;padding-left: 20px; font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000080;"><strong>Notes to Requester : </strong>$!{Notestorequestor}</pre>
   #end
  <br>
   #if(${NotestoReviewer} && (!${NotestoReviewer.isEmpty()}))
  <pre style="white-space: pre-wrap;word-wrap: break-word;padding-left: 20px; font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000080;"><strong>Notes to Reviewer (Additional information to Reviewer) : </strong>$!{NotestoReviewer}</pre>
   #end
  <br>
  #if(${NotesfromReviewer} && (!${NotesfromReviewer.isEmpty()}))
  <pre style="white-space: pre-wrap;word-wrap: break-word;padding-left: 20px; font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;"><strong>Notes from Reviewer : </strong>$!{NotesfromReviewer}</pre>
   #end
  </td>
  </tr>
   <br>
  <br> 
  <tr>
    <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;">For more details navigate to Rx->RxChangeRequest page in OMD Portal :- <a href=$strurl>$strurl</a></p>
   </tr>
    <tr>
    <p style="font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; color: #000;">This is an automatically generated email, please do not reply to this message. If you have questions or concerns about the information provided in this email, please contact the GPOC.</p>
    
  </tr>
  
</table>

</body>
</html>