<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%-5p]%X{userID}%X{userSessionID}[%c{2}] - %m %n" />
		</layout>
	</appender>
	<!-- for JOY QA Starts -->
	<appender name="dailyfileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/ServicesLOG/RMDWebServices.log" />
		<param name="DatePattern" value="'.'MM-dd-yyyy" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%-5p]%X{userID}%X{userSessionID}[%c{2}] - %m %n" />
		</layout>
	</appender>

	<!-- for JOY QA Ends -->

	<!-- for QTR Port Server Starts (DEV) -->
	<!-- <appender name="dailyfileAppender" class="org.apache.log4j.DailyRollingFileAppender"> 
		<param name="File" value="/apps/qtrrmd/log/rmdweb/RMDWeb.log" /> <param name="DatePattern" 
		value="'.'MM-dd-yyyy" /> <param name="Append" value="true" /> <layout class="org.apache.log4j.PatternLayout"> 
		<param name="ConversionPattern" value="%d [%-5p]%X{userID}%X{userSessionID}[%c{2}] 
		- %m %n" /> </layout> </appender> -->
	<!-- for QTR Port Server Ends (DEV) -->



	<logger name="com.ge.trans.rmd" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyfileAppender" />
	</logger>
	<logger name="org">
		<level value="error" />
	</logger>
	<root>
		<priority value="error" />
		<appender-ref ref="console" />
	</root>
	<!-- Log Pattern # YYYY-MM-DD HH:MM:SS, [WARN, INFO, DEBUG, ERROR, FATAL] 
		[Class Name][userName][sessionID] Log Message -->
	<!-- Substitute symbol %c Logger, %c{2 } last 2 partial names %C Class name 
		(full agony), %C{2 } last 2 partial names %d{dd MMM yyyy HH:MM:ss } Date, 
		format see java.text.SimpleDateFormat %F File name %l Location (caution: 
		compiler-option-dependently) %L Line number %m user-defined message %M Method 
		name %p Level %r Milliseconds since program start %t Threadname %x, %X see 
		Documentation for Log4J %% individual percentage sign Caution: %C, %F, %l, 
		%L, %M slow down program run! -->
</log4j:configuration>